body {
    margin: 0;
    padding: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: whitesmoke;
}

.productImage {
    height: 80px;
}
.card {
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
.productsWrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.btn {
    border: none;
    outline: none;
    background: #0EADB3;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.btn:hover {
    background: #097D82;
}

.heading {
    display: flex;
    justify-content: center;
}
.logoImage {
    height: 80px;
}
.cartCount {
    font-weight: 800;
    text-transform: uppercase;
    margin-left: 40px;
    padding-right: 15px;
    user-select: none;
}
.cartCount > span {
    font-size: 1.5em;
}
.navLink {
    text-decoration: none;
    font-weight: bold;
    color: #0EADB3;
    margin-left: 20px;
    font-size: 1.2em;
    user-select: none;
}
.navLink:hover {
    color: #097D82;
}
.shoppingCartImage {
    height: 20px;
    margin-right: 3px;
    user-select: none;
}

.cartCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    margin-bottom: 20px;
    padding: 14px;
    border-radius: 5px;
}
.priceBtnWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.priceBtnWrapper > .btn {
    margin-left: 10vw;
}
.emptyCart {
    display: flex;
    justify-content: center;
    height: 70vh;
}
.cartProductImage {
    height: 80px;
}